# Linking data on the web

In this notebook you'll experience how to consume structured data available on Wikidata to extend and enrich data managed within Nexus.

## Prerequisites

This notebook assumes you've created a project within the AWS deployment of Blue Brain Nexus. If not follow the Blue Brain Nexus [Quick Start tutorial](https://bluebrain.github.io/nexus/docs/tutorial/getting-started/quick-start/index.html).

## Overview

You'll work through the following steps:

1. Install and configure the Blue Brain Nexus python sdk
2. Create a sparql wrapper around your project's SparqlView
3. Create a sparql wrapper around the Wikidata Sparql Service
4. Query more metadata from the Wikidata Sparql Service for movies stored in Nexus using their tmdbId
5. Save the extended movies metadata back to Nexus and perform new queries

## Step 1: Install and configure the Blue Brain Nexus python sdk

In [3]:
!pip install git+https://github.com/BlueBrain/nexus-cli

Collecting git+https://github.com/BlueBrain/nexus-cli
  Cloning https://github.com/BlueBrain/nexus-cli to /tmp/pip-req-build-l7u3f1zc
Requirement already satisfied: click in /usr/local/lib/python3.6/dist-packages (from nexus-cli==0.2.0) (7.0)
Collecting blessings (from nexus-cli==0.2.0)
  Downloading https://files.pythonhosted.org/packages/03/74/489f85a78247609c6b4f13733cbf3ba0d864b11aa565617b645d6fdf2a4a/blessings-1.7-py3-none-any.whl
Requirement already satisfied: prettytable in /usr/local/lib/python3.6/dist-packages (from nexus-cli==0.2.0) (0.7.2)
Collecting PyJWT (from nexus-cli==0.2.0)
  Downloading https://files.pythonhosted.org/packages/87/8b/6a9f14b5f781697e51259d81657e6048fd31a113229cf346880bb7545565/PyJWT-1.7.1-py2.py3-none-any.whl
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from nexus-cli==0.2.0) (2.1.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from nexus-cli==0.2.0) (0.22.0)
Requirement already satisfied: pytest in /usr/local/lib/python3.6/dist-packages (from nexus-cli==0.2.0) (3.10.1)
Collecting nexus-sdk (from nexus-cli==0.2.0)
  Downloading https://files.pythonhosted.org/packages/18/27/85c0f371db9e6b71b94e633786de637329cfe5c8bca0aba6c606e7ed1820/nexus_sdk-0.1.0-py3-none-any.whl
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from blessings->nexus-cli==0.2.0) (1.11.0)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from pandas->nexus-cli==0.2.0) (1.14.6)
Requirement already satisfied: python-dateutil>=2 in /usr/local/lib/python3.6/dist-packages (from pandas->nexus-cli==0.2.0) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas->nexus-cli==0.2.0) (2018.9)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from pytest->nexus-cli==0.2.0) (5.0.0)
Requirement already satisfied: pluggy>=0.7 in /usr/local/lib/python3.6/dist-packages (from pytest->nexus-cli==0.2.0) (0.8.1)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from pytest->nexus-cli==0.2.0) (1.7.0)
Requirement already satisfied: atomicwrites>=1.0 in /usr/local/lib/python3.6/dist-packages (from pytest->nexus-cli==0.2.0) (1.2.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from pytest->nexus-cli==0.2.0) (40.6.3)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.6/dist-packages (from pytest->nexus-cli==0.2.0) (18.2.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from nexus-sdk->nexus-cli==0.2.0) (2.18.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->nexus-sdk->nexus-cli==0.2.0) (2018.11.29)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->nexus-sdk->nexus-cli==0.2.0) (1.22)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->nexus-sdk->nexus-cli==0.2.0) (2.6)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->nexus-sdk->nexus-cli==0.2.0) (3.0.4)
Building wheels for collected packages: nexus-cli
  Running setup.py bdist_wheel for nexus-cli ... - \ done
  Stored in directory: /tmp/pip-ephem-wheel-cache-_ry2whog/wheels/35/4d/e7/3f9a4e18d5aeff30a45ea0679cdddcfc2070db173397b7b741
Successfully built nexus-cli
Installing collected packages: blessings, PyJWT, nexus-sdk, nexus-cli
Successfully installed PyJWT-1.7.1 blessings-1.7 nexus-cli-0.2.0 nexus-sdk-0.1.0

In [0]:
import nexussdk as nexus


nexus_deployment = "https://nexus-sandbox.io/v1"

token = "eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICItSm9GOUNPdnZ0N1VoeWhKTUMtWWxURjZwaVJsWmdRS1JRa3M1c1BNS3h3In0.eyJqdGkiOiIwNzI2NTc5ZS1mOTM3LTRjYTgtOTdlZi0xOWE4MjMzOTU0NGMiLCJleHAiOjE1NDkxODM1NzEsIm5iZiI6MCwiaWF0IjoxNTQ4NTc4NzcxLCJpc3MiOiJodHRwczovL25leHVzLXNhbmRib3guaW8vYXV0aC9yZWFsbXMvZ2l0aHViIiwiYXVkIjoiYWNjb3VudCIsInN1YiI6ImY0ZmY1ZWMyLTJjOGQtNDM1YS1hZWFmLWUyMDU3MTJmMDYzYSIsInR5cCI6IkJlYXJlciIsImF6cCI6Im5leHVzLXdlYiIsIm5vbmNlIjoiMTIzNDU2IiwiYXV0aF90aW1lIjoxNTQ4NTc4NzcxLCJzZXNzaW9uX3N0YXRlIjoiY2M5NGVkMWItOWM1OC00NmE5LWI0OWEtMjhlYzgzOGM4YTI2IiwiYWNyIjoiMSIsInJlYWxtX2FjY2VzcyI6eyJyb2xlcyI6WyJvZmZsaW5lX2FjY2VzcyIsInVtYV9hdXRob3JpemF0aW9uIl19LCJyZXNvdXJjZV9hY2Nlc3MiOnsiYWNjb3VudCI6eyJyb2xlcyI6WyJtYW5hZ2UtYWNjb3VudCIsIm1hbmFnZS1hY2NvdW50LWxpbmtzIiwidmlldy1wcm9maWxlIl19fSwic2NvcGUiOiJvcGVuaWQgcHJvZmlsZSBlbWFpbCIsInN1YiI6ImFnYXJjaSIsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwibmFtZSI6IkFtYW5kYSBHYXJjaSIsInByZWZlcnJlZF91c2VybmFtZSI6ImFnYXJjaSIsImdpdmVuX25hbWUiOiJBbWFuZGEiLCJmYW1pbHlfbmFtZSI6IkdhcmNpIiwiZW1haWwiOiJyaWdvdmlydXRhQGdtYWlsLmNvbSJ9.g1V9CP3s9XXNVuAbia1L1qX8jLI4qSimTSMFOVuCX6xrcvUyZ-bPFuPQeLVkkjGQuS973wd538eS9B9J2JgZxsK3Dkzv8yWMD7dOohLnEz-DWqAC8d-Pei_bVlf6PReiTru2ggt6VoeaoO9qXDVYEUKL0T12YsEFsyM687FIUDlwz5cVqo-aVA1rP-HUCZxTzf2peRW476dw6iRSJsDkhx3HhZNsHzk_U9GXCW916-Wc9KyshNQvYcJF5nv4o-U6qgnUqWz72aw13b2W7xD6_WLvl_2FgY35jVC9kOzIdGaI-0oDLmeW5LvgYJYD9skLuup3riY1Dbsqt97sPd3mtA"
nexus.config.set_environment(nexus_deployment)
nexus.config.set_token(token)

org ="amld"
project ="onlymovies"

headers = {}

## Step 2: Create a sparql wrapper around your project's SparqlView

Every project in Blue Brain Nexus comes with a SparqlView enabling to navigate the data as a graph and to query it using the [W3C SPARQL Language](https://www.w3.org/TR/sparql11-query/). 
The address of such SparqlView is https://nexus-sandbox.io/v1/views/tutorialnexus/\$PROJECTLABEL/graph/sparql for a project withe label \$PROJECTLABEL. The address of a SparqlView is also called a sparql endpoint.

In [5]:
!pip install git+https://github.com/RDFLib/sparqlwrapper

Collecting git+https://github.com/RDFLib/sparqlwrapper
  Cloning https://github.com/RDFLib/sparqlwrapper to /tmp/pip-req-build-kz7cnj9k
Requirement already satisfied (use --upgrade to upgrade): SPARQLWrapper==1.8.3.dev0 from git+https://github.com/RDFLib/sparqlwrapper in /usr/local/lib/python3.6/dist-packages
Requirement already satisfied: rdflib>=4.0 in /usr/local/lib/python3.6/dist-packages (from SPARQLWrapper==1.8.3.dev0) (4.2.2)
Requirement already satisfied: pyparsing in /usr/local/lib/python3.6/dist-packages (from rdflib>=4.0->SPARQLWrapper==1.8.3.dev0) (2.3.1)
Requirement already satisfied: isodate in /usr/local/lib/python3.6/dist-packages (from rdflib>=4.0->SPARQLWrapper==1.8.3.dev0) (0.6.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from isodate->rdflib>=4.0->SPARQLWrapper==1.8.3.dev0) (1.11.0)
Building wheels for collected packages: SPARQLWrapper
  Running setup.py bdist_wheel for SPARQLWrapper ... - \ | / done
  Stored in directory: /tmp/pip-ephem-wheel-cache-1jgxeyzm/wheels/94/87/ff/bd3f8bccb74168f42b5ba997f9105e18a9cc2699ad9a5525a6
Successfully built SPARQLWrapper

In [0]:
# Utility functions to create sparql wrapper around a sparql endpoint

from SPARQLWrapper import SPARQLWrapper, JSON, POST, GET, POSTDIRECTLY, CSV
import requests



def create_sparql_client(sparql_endpoint, http_query_method=POST, result_format= JSON, token=None):
    sparql_client = SPARQLWrapper(sparql_endpoint)
    #sparql_client.addCustomHttpHeader("Content-Type", "application/sparql-query")
    if token:
        sparql_client.addCustomHttpHeader("Authorization","Bearer {}".format(token))
    sparql_client.setMethod(http_query_method)
    sparql_client.setReturnFormat(result_format)
    if http_query_method == POST:
        sparql_client.setRequestMethod(POSTDIRECTLY)
    
    return sparql_client

In [0]:
# Utility functions
import pandas as pd

pd.set_option('display.max_colwidth', -1)

# Convert SPARQL results into a Pandas data frame
def sparql2dataframe(json_sparql_results):
    cols = json_sparql_results['head']['vars']
    out = []
    for row in json_sparql_results['results']['bindings']:
        item = []
        for c in cols:
            item.append(row.get(c, {}).get('value'))
        out.append(item)
    return pd.DataFrame(out, columns=cols)

# Send a query using a sparql wrapper 
def query_sparql(query, sparql_client):
    sparql_client.setQuery(query)
    #request = sparql_client._createRequest()
    #print(sparql_client.endpoint)
    #print(sparql_client.queryString)
    #print(request.__dict__)

    result_object = sparql_client.query()
    if sparql_client.returnFormat == JSON:
        return result_object._convertJSON()
    return result_object.convert()

Let create a sparql wrapper around the project sparql view

In [0]:

sparqlview_endpoint = nexus_deployment+"/views/"+org+"/"+project+"/graph/sparql"
sparqlview_wrapper = create_sparql_client(sparql_endpoint=sparqlview_endpoint, token=token,http_query_method= POST, result_format=JSON)

Let test that the SparqlView wrapper works by running a simple Sparql query to get 5 movies along with their titles.

In [15]:
five_movie_query = """
PREFIX vocab: <https://nexus-sandbox.io/v1/vocabs/amld/onlymovies/>
PREFIX nxv: <https://bluebrain.github.io/nexus/vocabulary/>
Select ?movie_nexus_Id ?movieId ?title ?genres ?imdbId ?tmdbId ?revision
 WHERE  {
   
    ?movie_nexus_Id a vocab:Movie.
    ?movie_nexus_Id nxv:rev ?revision.
    ?movie_nexus_Id vocab:movieId ?movieId.
    ?movie_nexus_Id vocab:title ?title.
    ?movie_nexus_Id vocab:imdbId ?imdbId.
    ?movie_nexus_Id vocab:genres ?genres.
    OPTIONAL {
        ?movie_nexus_Id vocab:tmdbId ?tmdbId.
    }
} LIMIT 5
"""

nexus_results = query_sparql(five_movie_query,sparqlview_wrapper)


nexus_df =sparql2dataframe(nexus_results)
nexus_df.head()

,movie_nexus_Id,movieId,title,genres,imdbId,tmdbId,revision
0,https://nexus-sandbox.io/v1/resources/amld/onlymovies/_/Movie_2376,2376,"View to a Kill, A (1985)",Action|Adventure|Thriller,90264,707,2
1,https://nexus-sandbox.io/v1/resources/amld/onlymovies/_/Movie_2694,2694,Big Daddy (1999),Comedy,142342,9032,2
2,https://nexus-sandbox.io/v1/resources/amld/onlymovies/_/Movie_2931,2931,Time of the Gypsies (Dom za vesanje) (1989),Comedy|Crime|Drama|Fantasy,97223,20123,2
3,https://nexus-sandbox.io/v1/resources/amld/onlymovies/_/Movie_2138,2138,Watership Down (1978),Adventure|Animation|Children|Drama|Fantasy,78480,11837,2
4,https://nexus-sandbox.io/v1/resources/amld/onlymovies/_/Movie_1050,1050,Looking for Richard (1996),Documentary|Drama,116913,42314,2

## Step 3: Create a Sparql wrapper around the Wikidata Sparql Service

In [0]:
wikidata_sparql_endpoint = "https://query.wikidata.org/sparql"
wikidata_sparql_wrapper = create_sparql_client(sparql_endpoint=wikidata_sparql_endpoint,http_query_method= GET, result_format=JSON)

Let test that the wrapper works by running a query that fetch the logo url for a given movie tmdbId 862 (Toy Story).
You can play the following query in the Wikidata playground [Try It](https://query.wikidata.org/#SELECT%20%2a%0A%20%20%20%20WHERE%0A%20%20%20%20%7B%0A%20%20%20%20%20%20%20%20%3Fmovie%20wdt%3AP4947%20%22862%22.%0A%20%20%20%20%20%20%20%20OPTIONAL%7B%0A%20%20%20%20%20%20%20%20%3Fmovie%20wdt%3AP154%20%3Flogo.%0A%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20OPTIONAL%7B%0A%20%20%20%20%20%20%20%20%3Fmovie%20wdt%3AP364%20%3Flang.%0A%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20OPTIONAL%7B%0A%20%20%20%20%20%20%20%20%3Fmovie%20wdt%3AP577%20%3FreleaseDate.%0A%20%20%20%20%20%20%20%20%3Fmovie%20wdt%3AP291%20wdt%3AQ30.%0A%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%7D).

In [16]:
# wdt:P4947 is the wikidata property for tmdbId

movie_logo_query = """
SELECT *
WHERE
{
    ?movie wdt:P4947 "%s". #wdt:P4947 is the wikidata property for tmdbId
    OPTIONAL{
    ?movie wdt:P154 ?logo. #wdt:P154 is the wiki data property for logo image url
    }
}
""" % (862)
wiki_results = query_sparql(movie_logo_query,wikidata_sparql_wrapper)
wiki_df =sparql2dataframe(wiki_results)
wiki_df.head()

,movie,logo
0,http://www.wikidata.org/entity/Q171048,http://commons.wikimedia.org/wiki/Special:FilePath/Toy%20Story%20logo.svg

Let display the logo of the Toy Story movie. This part might take some time but you can skip it.

In [14]:
from IPython.display import SVG, display

movie_logo_url = wiki_df.at[0,'logo']
display(SVG(movie_logo_url))

## Step 4: Query more metadata from the Wikidata Sparql Service

For every movie with a tmdbId retrieved from the Nexus SparqlView, we will get:

* its cast members or voice actors first and last names
* its publication date in the United States of America if any

[Try it](https://query.wikidata.org/#SELECT%20%3FtmdbId%20%3Fmovie%20%3Flogo%20%3Fnativelanguage%20%3Fpublication_date%20%3Fcast%20%3FgivenName%20%3FfamilyName%0A%20%20%20%20WHERE%0A%20%20%20%20%7B%0A%20%20%20%20%20%20%20%20%3Fmovie%20wdt%3AP4947%20%3FtmdbId.%0A%20%20%20%20%20%20%20%20FILTER%20%28%3FtmdbId%20%3D%20%22862%22%29.%0A%20%20%20%20%20%20%20%20OPTIONAL%7B%0A%20%20%20%20%20%20%20%20%20%20%3Fmovie%20wdt%3AP154%20%3Flogo.%0A%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20OPTIONAL%7B%0A%20%20%20%20%20%20%20%20%20%20%3Fmovie%20wdt%3AP725%7Cwdt%3AP161%20%3Fcast.%0A%20%20%20%20%20%20%20%20%20%20%3Fcast%20wdt%3AP735%2Fwdt%3AP1705%20%3FgivenName.%0A%20%20%20%20%20%20%20%20%20%20%3Fcast%20wdt%3AP734%2Fwdt%3AP1705%20%3FfamilyName.%0A%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20OPTIONAL%7B%0A%20%20%20%20%20%20%20%20%3Fmovie%20wdt%3AP364%2Fwdt%3AP1705%20%3Fnativelanguage.%0A%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%0A%20%20%20%20%20%20OPTIONAL%20%7B%0A%20%20%20%20%20%3Fmovie%20p%3AP577%20%3Fpublication_date_node.%0A%20%20%20%20%20%3Fpublication_date_node%20ps%3AP577%20%3Fpublication_date.%20%23%20publication%20date%20statement%0A%20%20%20%20%20%3Fpublication_date_node%20pq%3AP291%20wd%3AQ30.%20%20%20%20%20%20%20%20%20%20%20%20%23%20qualifier%20on%20the%20release%20date%0A%20%20%7D%0A%20%20%20%20%7D) for the movie Toy Story.

In [17]:
from functools import reduce
import json


def panda_merge(df,df2, on):
    cols_to_use = df2.columns.difference(df.columns)
    dfNew = pd.merge(df, df2[cols_to_use], left_index=True, right_index=True, how='outer')
    return dfNew

def panda_concatenate(dfs):
    df = pd.concat(dfs)
    return df

wiki_dataframes = []
for index, row in nexus_df.iterrows():
    imdbdId = row['tmdbId']
    movie_logo_query = """
    SELECT ?tmdbId ?movie ?logo ?nativelanguage ?publication_date ?cast ?givenName ?familyName
    WHERE
    {
        ?movie wdt:P4947 ?tmdbId.
        FILTER (?tmdbId = "%s").
        OPTIONAL{
          ?movie wdt:P154 ?logo.
        }
        OPTIONAL{
          ?movie wdt:P725|wdt:P161 ?cast.
          ?cast wdt:P735/wdt:P1705 ?givenName.
          ?cast wdt:P734/wdt:P1705 ?familyName.
        }
        OPTIONAL{
        ?movie wdt:P364/wdt:P1705 ?nativelanguage.
        }
       
      OPTIONAL {
     ?movie p:P577 ?publication_date_node.
     ?publication_date_node ps:P577 ?publication_date. # publication date statement
     ?publication_date_node pq:P291 wd:Q30.            # qualifier on the release date
  }
    }
    """ % (row['tmdbId'])
    
    wiki_results = query_sparql(movie_logo_query,wikidata_sparql_wrapper)
    wiki_df =sparql2dataframe(wiki_results)
    display(wiki_df.head())
    wiki_dataframes.append(wiki_df)


#Let concatenate all dataframes from wikidata
result_wiki_dataframes = panda_concatenate(wiki_dataframes)
display(result_wiki_dataframes.head(100))


merge_wiki_dataframes = panda_merge(result_wiki_dataframes,nexus_df,"tmdbId")

display(merge_wiki_dataframes.head())

wiki_dataframes_tojson = (merge_wiki_dataframes.apply(lambda x: x.dropna(), 1).groupby(['tmdbId','movie','nativelanguage'], as_index=False)
                         .apply(lambda x: x[['cast','givenName','familyName']].to_dict('r'))
                         .reset_index()
                         .rename(columns={0:'casting'})
                         .to_json(orient='records'))





updated_movies_json = json.loads(wiki_dataframes_tojson)

print(json.dumps(updated_movies_json, indent=2, sort_keys=True))

,tmdbId,movie,logo,nativelanguage,publication_date,cast,givenName,familyName
0,707,http://www.wikidata.org/entity/Q332368,None,English,1985-05-24T00:00:00Z,http://www.wikidata.org/entity/Q61552,Walter,Gotell
1,707,http://www.wikidata.org/entity/Q332368,None,English,1985-05-24T00:00:00Z,http://www.wikidata.org/entity/Q463584,Fiona,Fullerton
2,707,http://www.wikidata.org/entity/Q332368,None,English,1985-05-24T00:00:00Z,http://www.wikidata.org/entity/Q3440161,Roland,Malet
3,707,http://www.wikidata.org/entity/Q332368,None,English,1985-05-24T00:00:00Z,http://www.wikidata.org/entity/Q185051,Christopher,Walken
4,707,http://www.wikidata.org/entity/Q332368,None,English,1985-05-24T00:00:00Z,http://www.wikidata.org/entity/Q450429,Grace,Jones

,tmdbId,movie,logo,nativelanguage,publication_date,cast,givenName,familyName
0,9032,http://www.wikidata.org/entity/Q509025,None,English,None,http://www.wikidata.org/entity/Q132952,Adam,Sandler
1,9032,http://www.wikidata.org/entity/Q509025,None,English,None,http://www.wikidata.org/entity/Q1706646,Joseph,Bologna
2,9032,http://www.wikidata.org/entity/Q509025,None,English,None,http://www.wikidata.org/entity/Q518868,Dennis,Dugan
3,9032,http://www.wikidata.org/entity/Q509025,None,English,None,http://www.wikidata.org/entity/Q211987,Jonathan,Leibowitz
4,9032,http://www.wikidata.org/entity/Q509025,None,English,None,http://www.wikidata.org/entity/Q2075598,Jonathan,Loughran

,tmdbId,movie,logo,nativelanguage,publication_date,cast,givenName,familyName
0,20123,http://www.wikidata.org/entity/Q615979,None,italiano,None,http://www.wikidata.org/entity/Q1250100,Bora,

,tmdbId,movie,logo,nativelanguage,publication_date,cast,givenName,familyName
0,11837,http://www.wikidata.org/entity/Q2165639,None,English,None,http://www.wikidata.org/entity/Q1340574,Harry,Andrews
1,11837,http://www.wikidata.org/entity/Q2165639,None,English,None,http://www.wikidata.org/entity/Q600632,Simon,Cadell
2,11837,http://www.wikidata.org/entity/Q2165639,None,English,None,http://www.wikidata.org/entity/Q200405,John,Hurt
3,11837,http://www.wikidata.org/entity/Q2165639,None,English,None,http://www.wikidata.org/entity/Q200405,Vincent,Hurt
4,11837,http://www.wikidata.org/entity/Q2165639,None,English,None,http://www.wikidata.org/entity/Q2734945,Richard David,Briers

,tmdbId,movie,logo,nativelanguage,publication_date,cast,givenName,familyName
0,42314,http://www.wikidata.org/entity/Q1493156,None,English,None,http://www.wikidata.org/entity/Q170572,Alexander,Baldwin
1,42314,http://www.wikidata.org/entity/Q1493156,None,English,None,http://www.wikidata.org/entity/Q101797,Laura,Ryder
2,42314,http://www.wikidata.org/entity/Q1493156,None,English,None,http://www.wikidata.org/entity/Q105817,Kevin,Kline
3,42314,http://www.wikidata.org/entity/Q1493156,None,English,None,http://www.wikidata.org/entity/Q586857,Kevin,Conway
4,42314,http://www.wikidata.org/entity/Q1493156,None,English,None,http://www.wikidata.org/entity/Q22667671,Leo,Colby

,tmdbId,movie,logo,nativelanguage,publication_date,cast,givenName,familyName
0,707,http://www.wikidata.org/entity/Q332368,None,English,1985-05-24T00:00:00Z,http://www.wikidata.org/entity/Q61552,Walter,Gotell
1,707,http://www.wikidata.org/entity/Q332368,None,English,1985-05-24T00:00:00Z,http://www.wikidata.org/entity/Q463584,Fiona,Fullerton
2,707,http://www.wikidata.org/entity/Q332368,None,English,1985-05-24T00:00:00Z,http://www.wikidata.org/entity/Q3440161,Roland,Malet
3,707,http://www.wikidata.org/entity/Q332368,None,English,1985-05-24T00:00:00Z,http://www.wikidata.org/entity/Q185051,Christopher,Walken
4,707,http://www.wikidata.org/entity/Q332368,None,English,1985-05-24T00:00:00Z,http://www.wikidata.org/entity/Q450429,Grace,Jones
5,707,http://www.wikidata.org/entity/Q332368,None,English,1985-05-24T00:00:00Z,http://www.wikidata.org/entity/Q232429,Maud,Adams
6,707,http://www.wikidata.org/entity/Q332368,None,English,1985-05-24T00:00:00Z,http://www.wikidata.org/entity/Q232356,Tanya,Roberts
7,707,http://www.wikidata.org/entity/Q332368,None,English,1985-05-24T00:00:00Z,http://www.wikidata.org/entity/Q232860,Lois,Maxwell
8,707,http://www.wikidata.org/entity/Q332368,None,English,1985-05-24T00:00:00Z,http://www.wikidata.org/entity/Q134333,Roger,Moore
9,707,http://www.wikidata.org/entity/Q332368,None,English,1985-05-24T00:00:00Z,http://www.wikidata.org/entity/Q460578,Michael,Wilson
10,707,http://www.wikidata.org/entity/Q332368,None,English,1985-05-24T00:00:00Z,http://www.wikidata.org/entity/Q510769,Robert,Brown
11,707,http://www.wikidata.org/entity/Q332368,None,English,1985-05-24T00:00:00Z,http://www.wikidata.org/entity/Q630728,Geoffrey,Keen
12,707,http://www.wikidata.org/entity/Q332368,None,English,1985-05-24T00:00:00Z,http://www.wikidata.org/entity/Q134333,George,Moore
13,707,http://www.wikidata.org/entity/Q332368,None,English,1985-05-24T00:00:00Z,http://www.wikidata.org/entity/Q29092,Desmond,Llewelyn
14,707,http://www.wikidata.org/entity/Q332368,None,English,1985-05-24T00:00:00Z,http://www.wikidata.org/entity/Q1593276,Willoughby,Gray
0,9032,http://www.wikidata.org/entity/Q509025,None,English,None,http://www.wikidata.org/entity/Q132952,Adam,Sandler
1,9032,http://www.wikidata.org/entity/Q509025,None,English,None,http://www.wikidata.org/entity/Q1706646,Joseph,Bologna
2,9032,http://www.wikidata.org/entity/Q509025,None,English,None,http://www.wikidata.org/entity/Q518868,Dennis,Dugan
3,9032,http://www.wikidata.org/entity/Q509025,None,English,None,http://www.wikidata.org/entity/Q211987,Jonathan,Leibowitz
4,9032,http://www.wikidata.org/entity/Q509025,None,English,None,http://www.wikidata.org/entity/Q2075598,Jonathan,Loughran
5,9032,http://www.wikidata.org/entity/Q509025,None,English,None,http://www.wikidata.org/entity/Q7803649,Tim,Herlihy
6,9032,http://www.wikidata.org/entity/Q509025,None,English,None,http://www.wikidata.org/entity/Q192217,Robert,Schneider
7,9032,http://www.wikidata.org/entity/Q509025,None,English,None,http://www.wikidata.org/entity/Q238394,Kristy,Swanson
8,9032,http://www.wikidata.org/entity/Q509025,None,English,None,http://www.wikidata.org/entity/Q3101081,Geoffrey,Horne
9,9032,http://www.wikidata.org/entity/Q509025,None,English,None,http://www.wikidata.org/entity/Q211987,Stuart,Leibowitz
10,9032,http://www.wikidata.org/entity/Q509025,None,English,None,http://www.wikidata.org/entity/Q211987,Jon,Leibowitz
11,9032,http://www.wikidata.org/entity/Q509025,None,English,None,http://www.wikidata.org/entity/Q972381,George,Hall
12,9032,http://www.wikidata.org/entity/Q509025,None,English,None,http://www.wikidata.org/entity/Q443063,Jackie,Titone
13,9032,http://www.wikidata.org/entity/Q509025,None,English,None,http://www.wikidata.org/entity/Q217732,Neal,Huff
14,9032,http://www.wikidata.org/entity/Q509025,None,English,None,http://www.wikidata.org/entity/Q345259,Steven,Brill
...,...,...,...,...,...,...,...,...
8,42314,http://www.wikidata.org/entity/Q1493156,None,English,None,http://www.wikidata.org/entity/Q347879,Vanessa,Redgrave
9,42314,http://www.wikidata.org/entity/Q1493156,None,English,None,http://www.wikidata.org/entity/Q403902,Aidan,Quinn
10,42314,http://www.wikidata.org/entity/Q1493156,None,English,None,http://www.wikidata.org/entity/Q16977428,Penelope,Allen
11,42314,http://www.wikidata.org/entity/Q1493156,None,English,None,http://www.wikidata.org/entity/Q2421372,Richard,Cox
12,42314,http://www.wikidata.org/entity/Q1493156,None,English,None,http://www.wikidata.org/entity/Q234195,Rosemary,Harris
13,42314,http://www.wikidata.org/entity/Q1493156,None,English,None,http://www.wikidata.org/entity/Q360313,Gil,Bellows
14,42314,http://www.wikidata.org/entity/Q1493156,None,English,None,http://www.wikidata.org/entity/Q55294,Kenneth,Branagh
15,42314,http://www.wikidata.org/entity/Q1493156,None,English,None,http://www.wikidata.org/entity/Q101797,Winona,Ryder
16,42314,http://www.wikidata.org/entity/Q1493156,None,English,None,http://www.wikidata.org/entity/Q49760,Peter,Brook
17,42314,http://www.wikidata.org/entity/Q1493156,None,English,None,http://www.wikidata.org/entity/Q55294,Charles,Branagh
18,42314,http://www.wikidata.org/entity/Q1493156,None,English,None,http://www.wikidata.org/entity/Q41163,Alfred,Pacino
19,42314,http://www.wikidata.org/entity/Q1493156,None,English,None,http://www.wikidata.org/entity/Q204685,John,Gielgud
20,42314,http://www.wikidata.org/entity/Q1493156,None,English,None,http://www.wikidata.org/entity/Q49760,Paul,Brook
21,42314,http://www.wikidata.org/entity/Q1493156,None,English,None,http://www.wikidata.org/entity/Q464744,Paul,Guilfoyle
22,42314,http://www.wikidata.org/entity/Q1493156,None,English,None,http://www.wikidata.org/entity/Q537252,Paul,Gleason
23,42314,http://www.wikidata.org/entity/Q1493156,None,English,None,http://www.wikidata.org/entity/Q49760,Stephen,Brook
24,42314,http://www.wikidata.org/entity/Q1493156,None,English,None,http://www.wikidata.org/entity/Q15136783,Vincent,Angell
25,42314,http://www.wikidata.org/entity/Q1493156,None,English,None,http://www.wikidata.org/entity/Q213844,Judith,Malina
26,42314,http://www.wikidata.org/entity/Q1493156,None,English,None,http://www.wikidata.org/entity/Q203960,Earl,Jones
27,42314,http://www.wikidata.org/entity/Q1493156,None,English,None,http://www.wikidata.org/entity/Q256164,Derek,Jacobi
28,42314,http://www.wikidata.org/entity/Q1493156,None,English,None,http://www.wikidata.org/entity/Q256164,George,Jacobi
29,42314,http://www.wikidata.org/entity/Q1493156,None,English,None,http://www.wikidata.org/entity/Q170572,Rae,Baldwin
30,42314,http://www.wikidata.org/entity/Q1493156,None,English,None,http://www.wikidata.org/entity/Q209107,Clare,Holman
31,42314,http://www.wikidata.org/entity/Q1493156,None,English,None,http://www.wikidata.org/entity/Q3362580,Neal,Jones
32,42314,http://www.wikidata.org/entity/Q1493156,None,English,None,http://www.wikidata.org/entity/Q170572,Alec,Baldwin
33,42314,http://www.wikidata.org/entity/Q1493156,None,English,None,http://www.wikidata.org/entity/Q22597973,Madison,Arnold
34,42314,http://www.wikidata.org/entity/Q1493156,None,English,None,http://www.wikidata.org/entity/Q181936,Murray,Abraham
35,42314,http://www.wikidata.org/entity/Q1493156,None,English,None,http://www.wikidata.org/entity/Q1346123,Harris,Julin
36,42314,http://www.wikidata.org/entity/Q1493156,None,English,None,http://www.wikidata.org/entity/Q267217,Viveca,Lindfors
37,42314,http://www.wikidata.org/entity/Q1493156,None,English,None,http://www.wikidata.org/entity/Q105817,Delaney,Kline

,tmdbId,movie,logo,nativelanguage,publication_date,cast,givenName,familyName,genres,imdbId,movieId,movie_nexus_Id,revision,title
0,707,http://www.wikidata.org/entity/Q332368,None,English,1985-05-24T00:00:00Z,http://www.wikidata.org/entity/Q61552,Walter,Gotell,Action|Adventure|Thriller,90264,2376,https://nexus-sandbox.io/v1/resources/amld/onlymovies/_/Movie_2376,2,"View to a Kill, A (1985)"
0,9032,http://www.wikidata.org/entity/Q509025,None,English,None,http://www.wikidata.org/entity/Q132952,Adam,Sandler,Action|Adventure|Thriller,90264,2376,https://nexus-sandbox.io/v1/resources/amld/onlymovies/_/Movie_2376,2,"View to a Kill, A (1985)"
0,20123,http://www.wikidata.org/entity/Q615979,None,italiano,None,http://www.wikidata.org/entity/Q1250100,Bora,,Action|Adventure|Thriller,90264,2376,https://nexus-sandbox.io/v1/resources/amld/onlymovies/_/Movie_2376,2,"View to a Kill, A (1985)"
0,11837,http://www.wikidata.org/entity/Q2165639,None,English,None,http://www.wikidata.org/entity/Q1340574,Harry,Andrews,Action|Adventure|Thriller,90264,2376,https://nexus-sandbox.io/v1/resources/amld/onlymovies/_/Movie_2376,2,"View to a Kill, A (1985)"
0,42314,http://www.wikidata.org/entity/Q1493156,None,English,None,http://www.wikidata.org/entity/Q170572,Alexander,Baldwin,Action|Adventure|Thriller,90264,2376,https://nexus-sandbox.io/v1/resources/amld/onlymovies/_/Movie_2376,2,"View to a Kill, A (1985)"

[
  {
    "casting": [
      {
        "cast": "http://www.wikidata.org/entity/Q1340574",
        "familyName": "Andrews",
        "givenName": "Harry"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q600632",
        "familyName": "Cadell",
        "givenName": "Simon"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q200405",
        "familyName": "Hurt",
        "givenName": "John"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q200405",
        "familyName": "Hurt",
        "givenName": "Vincent"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q2734945",
        "familyName": "Briers",
        "givenName": "Richard David"
      }
    ],
    "movie": "http://www.wikidata.org/entity/Q2165639",
    "nativelanguage": "English",
    "tmdbId": "11837"
  },
  {
    "casting": [
      {
        "cast": "http://www.wikidata.org/entity/Q1250100",
        "familyName": "\u0422\u043e\u0434\u043e\u0440\u043e\u0432\u0438\u045b",
        "givenName": "Bora"
      }
    ],
    "movie": "http://www.wikidata.org/entity/Q615979",
    "nativelanguage": "italiano",
    "tmdbId": "20123"
  },
  {
    "casting": [
      {
        "cast": "http://www.wikidata.org/entity/Q170572",
        "familyName": "Baldwin",
        "givenName": "Alexander"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q101797",
        "familyName": "Ryder",
        "givenName": "Laura"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q105817",
        "familyName": "Kline",
        "givenName": "Kevin"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q586857",
        "familyName": "Conway",
        "givenName": "Kevin"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q22667671",
        "familyName": "Colby",
        "givenName": "Leo"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q203960",
        "familyName": "Jones",
        "givenName": "James"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q22667671",
        "familyName": "Colby",
        "givenName": "James"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q232541",
        "familyName": "Parsons",
        "givenName": "Estelle"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q347879",
        "familyName": "Redgrave",
        "givenName": "Vanessa"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q403902",
        "familyName": "Quinn",
        "givenName": "Aidan"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q16977428",
        "familyName": "Allen",
        "givenName": "Penelope"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q2421372",
        "familyName": "Cox",
        "givenName": "Richard"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q234195",
        "familyName": "Harris",
        "givenName": "Rosemary"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q360313",
        "familyName": "Bellows",
        "givenName": "Gil"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q55294",
        "familyName": "Branagh",
        "givenName": "Kenneth"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q101797",
        "familyName": "Ryder",
        "givenName": "Winona"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q49760",
        "familyName": "Brook",
        "givenName": "Peter"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q55294",
        "familyName": "Branagh",
        "givenName": "Charles"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q41163",
        "familyName": "Pacino",
        "givenName": "Alfred"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q204685",
        "familyName": "Gielgud",
        "givenName": "John"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q49760",
        "familyName": "Brook",
        "givenName": "Paul"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q464744",
        "familyName": "Guilfoyle",
        "givenName": "Paul"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q537252",
        "familyName": "Gleason",
        "givenName": "Paul"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q49760",
        "familyName": "Brook",
        "givenName": "Stephen"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q15136783",
        "familyName": "Angell",
        "givenName": "Vincent"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q213844",
        "familyName": "Malina",
        "givenName": "Judith"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q203960",
        "familyName": "Jones",
        "givenName": "Earl"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q256164",
        "familyName": "Jacobi",
        "givenName": "Derek"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q256164",
        "familyName": "Jacobi",
        "givenName": "George"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q170572",
        "familyName": "Baldwin",
        "givenName": "Rae"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q209107",
        "familyName": "Holman",
        "givenName": "Clare"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q3362580",
        "familyName": "Jones",
        "givenName": "Neal"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q170572",
        "familyName": "Baldwin",
        "givenName": "Alec"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q22597973",
        "familyName": "Arnold",
        "givenName": "Madison"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q181936",
        "familyName": "Abraham",
        "givenName": "Murray"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q1346123",
        "familyName": "Julin",
        "givenName": "Harris"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q267217",
        "familyName": "Lindfors",
        "givenName": "Viveca"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q105817",
        "familyName": "Kline",
        "givenName": "Delaney"
      }
    ],
    "movie": "http://www.wikidata.org/entity/Q1493156",
    "nativelanguage": "English",
    "tmdbId": "42314"
  },
  {
    "casting": [
      {
        "cast": "http://www.wikidata.org/entity/Q61552",
        "familyName": "Gotell",
        "givenName": "Walter"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q463584",
        "familyName": "Fullerton",
        "givenName": "Fiona"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q3440161",
        "familyName": "Malet",
        "givenName": "Roland"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q185051",
        "familyName": "Walken",
        "givenName": "Christopher"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q450429",
        "familyName": "Jones",
        "givenName": "Grace"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q232429",
        "familyName": "Adams",
        "givenName": "Maud"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q232356",
        "familyName": "Roberts",
        "givenName": "Tanya"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q232860",
        "familyName": "Maxwell",
        "givenName": "Lois"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q134333",
        "familyName": "Moore",
        "givenName": "Roger"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q460578",
        "familyName": "Wilson",
        "givenName": "Michael"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q510769",
        "familyName": "Brown",
        "givenName": "Robert"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q630728",
        "familyName": "Keen",
        "givenName": "Geoffrey"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q134333",
        "familyName": "Moore",
        "givenName": "George"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q29092",
        "familyName": "Llewelyn",
        "givenName": "Desmond"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q1593276",
        "familyName": "Gray",
        "givenName": "Willoughby"
      }
    ],
    "movie": "http://www.wikidata.org/entity/Q332368",
    "nativelanguage": "English",
    "tmdbId": "707"
  },
  {
    "casting": [
      {
        "cast": "http://www.wikidata.org/entity/Q132952",
        "familyName": "Sandler",
        "givenName": "Adam"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q1706646",
        "familyName": "Bologna",
        "givenName": "Joseph"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q518868",
        "familyName": "Dugan",
        "givenName": "Dennis"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q211987",
        "familyName": "Leibowitz",
        "givenName": "Jonathan"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q2075598",
        "familyName": "Loughran",
        "givenName": "Jonathan"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q7803649",
        "familyName": "Herlihy",
        "givenName": "Tim"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q192217",
        "familyName": "Schneider",
        "givenName": "Robert"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q238394",
        "familyName": "Swanson",
        "givenName": "Kristy"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q3101081",
        "familyName": "Horne",
        "givenName": "Geoffrey"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q211987",
        "familyName": "Leibowitz",
        "givenName": "Stuart"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q211987",
        "familyName": "Leibowitz",
        "givenName": "Jon"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q972381",
        "familyName": "Hall",
        "givenName": "George"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q443063",
        "familyName": "Titone",
        "givenName": "Jackie"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q217732",
        "familyName": "Huff",
        "givenName": "Neal"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q345259",
        "familyName": "Brill",
        "givenName": "Steven"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q237115",
        "familyName": "Adams",
        "givenName": "Joey"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q229011",
        "familyName": "Mann",
        "givenName": "Leslie"
      },
      {
        "cast": "http://www.wikidata.org/entity/Q132952",
        "familyName": "Sandler",
        "givenName": "Adam Richard"
      }
    ],
    "movie": "http://www.wikidata.org/entity/Q509025",
    "nativelanguage": "English",
    "tmdbId": "9032"
  }
]

## Step 5: Save the extended movies metadata back to Nexus

In [18]:
display(nexus_df.head())
from urllib.parse import urlencode, quote_plus

def update_in_nexus(row):
    row["@type"]= "Movie"
    _id = nexus_df.loc[nexus_df['tmdbId'] == row['tmdbId'], 'movie_nexus_Id'].iloc[0]
    rev = nexus_df.loc[nexus_df['tmdbId'] == row['tmdbId'], 'revision'].iloc[0]
    row["title"] = nexus_df.loc[nexus_df['tmdbId'] == row['tmdbId'], 'title'].iloc[0]
    row["genres"] = nexus_df.loc[nexus_df['tmdbId'] == row['tmdbId'], 'genres'].iloc[0]
    row["movieId"] = nexus_df.loc[nexus_df['tmdbId'] == row['tmdbId'], 'movieId'].iloc[0]
    row["imdbId"] = nexus_df.loc[nexus_df['tmdbId'] == row['tmdbId'], 'imdbId'].iloc[0]
    
    url = nexus_deployment+"/resources/"+org+"/"+project+"/"+"_/"+quote_plus(_id)
    row["_self"] = url
    nexus.resources.update(resource=row, rev=rev)
    
for item in updated_movies_json:
    update_in_nexus(item)

,movie_nexus_Id,movieId,title,genres,imdbId,tmdbId,revision
0,https://nexus-sandbox.io/v1/resources/amld/onlymovies/_/Movie_2376,2376,"View to a Kill, A (1985)",Action|Adventure|Thriller,90264,707,2
1,https://nexus-sandbox.io/v1/resources/amld/onlymovies/_/Movie_2694,2694,Big Daddy (1999),Comedy,142342,9032,2
2,https://nexus-sandbox.io/v1/resources/amld/onlymovies/_/Movie_2931,2931,Time of the Gypsies (Dom za vesanje) (1989),Comedy|Crime|Drama|Fantasy,97223,20123,2
3,https://nexus-sandbox.io/v1/resources/amld/onlymovies/_/Movie_2138,2138,Watership Down (1978),Adventure|Animation|Children|Drama|Fantasy,78480,11837,2
4,https://nexus-sandbox.io/v1/resources/amld/onlymovies/_/Movie_1050,1050,Looking for Richard (1996),Documentary|Drama,116913,42314,2

The data can now be filtered with the new metadata

In [1]:
# Find movies within which James Broadbent acted

query = """
PREFIX vocab: <https://nexus-sandbox.io/v1/vocabs/amld/onlymovies/>
PREFIX nxv: <https://bluebrain.github.io/nexus/vocabulary/>
Select ?movieId ?title ?genres ?imdbId ?tmdbId
 WHERE  {
   
    ?movie_nexus_Id a vocab:Movie.
    ?movie_nexus_Id vocab:cating ?cast.
    ?cast vocab:familyname "Broadbent".
    ?cast vocab:familyname "James".
    ?movie_nexus_Id vocab:movieId ?movieId.
    ?movie_nexus_Id vocab:title ?title.
    ?movie_nexus_Id vocab:imdbId ?imdbId.
    ?movie_nexus_Id vocab:genres ?genres.
    OPTIONAL {
        ?movie_nexus_Id vocab:tmdbId ?tmdbId.
    }
} LIMIT 5
"""

nexus_results = query_sparql(query, sparqlview_wrapper)


nexus_df =sparql2dataframe(nexus_results)
nexus_df.head()

NameError: ignored